Flask
flask_wtf
wtforms
pymysql

# import the library to connect to the database
mysql-connector-python

pandas
# Pandas is an open source data manipulation tool

matplotlib
numpy
# Matplotlib is a cross-platform, data visualization and graphical plotting library for Python and its numerical extension NumPy

seaborn
# Seaborn is a library for making statistical graphics in Python. It builds on top of matplotlib and integrates closely with pandas data structures - it makes the matplot graphs look just a bit prettier

pytest
# The pytest framework makes it easy to write small, readable tests, and can scale to support complex functional testing for applications and libraries.

