{% extends "layout.html" %}

{% block main_content %}

<div>
  <h1>Site Statistics</h1>
  <br>
  <h4>Debt Calculator</h4>
  <p>
    <br>
    When people visit our site they use our debt calculator to find out how much they will repay in total over the repayment period.
    <br>
    The average amount of personal debt that people visiting our site have investigated is &pound;{{ average_debt_data }}.
    <br>
    Those debts are usually in the form of a {{ debt_type[0][0] }}.
    <br>
    <table>
      <tr>
        <th>Type of loan investigated</th>
        <th>Number of calculations</th>
      </tr>
      {% for item in debt_type %}
      <tr>
        <td>{{ item [0] }}</td>
        <td>{{ item [1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </p>
  <br>
  <h4>Savings Calculator</h4>
  <br>
</div>

{% endblock %}

