{% extends "layout.html" %}

{% block main_content %}

<!--Title box - recent posts-->
<div class="content clearfix">

    <div class="main-content">
         <h1 class ="recent-post-title">Recent Posts</h1>
    </div>

<!--Article Content-->
<div class="content clearfix">

<!--Main content-->
    <div class="main-content">
         <h1 class ="recent-post-title"> </h1>
        <div class="post">
            <img src="{{ url_for('static', filename='images/savingspic.jpg') }}" class="post" alt="savings_article"
            width="300" height="200">

            <div class="post1-preview">
                <h2><a href="./savingarticle">3 Top Ways To Save In 2023</a></h2>
                <i class="far fa-user">Michelle Quaye and Eyasmin Basher</i>
                &nbsp;
                <i class="far calendar">April 1st, 2023</i>
                    <br>
                    <br>
                <p class="preview-text">
                    Many people are feeling the financial "pinch", due to the current cost of living crisis. The team here at ChipIn are working around the clock to keep you updated on how to manage your financial situation. Your resident experts, Michelle and Eyasmin have summarised 5 key methods to help you save your cash.
                </p>
                 <p class="nav-item">
                     <a class="nav-link" href="./savingarticle">Read more</a> </p>


        </div>
        </div>
    </div>

<!--    Article 2-->
    <div class="content clearfix">

<!--Main content-->
    <div class="main-content">
         <h1 class ="recent-post-title"> </h1>
        <div class="post">
            <img src="{{ url_for('static', filename='images/countingcoins.jpg') }}" class="post" alt="savings_article"
            width="300" height="200">

            <div class="post1-preview">
                <h2><a href="./discount_article">Top Places To Find Money-Saving Discounts</a></h2>
                <i class="far fa-user">Ellen Houghton and Eyasmin Basher</i>
                &nbsp;
                <i class="far calendar">April 8th, 2023</i>
                    <br>
                    <br>
                <p class="preview-text">
                    As the usual cost of your favourite items continues to increase, finding ways to reduce your spending becomes even more important! Your resident experts, Ellen and Eyasmin have valuable money-saving discount tips to share with you!
                </p>
                   <p class="nav-item">
                     <a class="nav-link" href="./discount_article">Read more</a> </p>
        </div>
        </div>
    </div>

<!--        Article 3-->
        <div class="content clearfix">

<!--Main content-->
    <div class="main-content">
         <h1 class ="recent-post-title"> </h1>
        <div class="post">
            <img src="{{ url_for('static', filename='images/mentalhealthdebt.jpg') }}" class="post" alt="savings_article"
            width="300" height="200">

            <div class="post1-preview">
                <h2><a href="./debt_mentalhealtharticle">Debt and Mental Health</a></h2>
                <i class="far fa-user">Eyasmin Basher and Michelle Quaye</i>
                &nbsp;
                <i class="far calendar">April 15th, 2023</i>
                    <br>
                    <br>
                <p class="preview-text">
                Research from the Royal College of Psychiatrists found that around 50% of adults experiencing debt are also experiencing mental health problems. Your resident experts, Eyasmin and Michelle investigate this further.
                </p>
<!--                <a href="debt_mentalhealtharticle.html" class="btn">Read more</a>-->
                   <p class="nav-item">
                     <a class="nav-link" href="./debt_mentalhealtharticle">Read more</a> </p>
        </div>
        </div>
    </div>
</div>


{% endblock %}