{% extends "layout.html" %}

{% block main_content %}

<!--Title box - recent posts-->
<div class="container-md">
    <div class="main-content">
         <h1 class ="recent-post-title">Recent Posts</h1>
    </div>
</div>
<br>
<br>
<!--Article Content-->
<div class="container-md">

<!--Main content-->
    <div class="main-content">
        <div class="articles-img">
            <img src="{{ url_for('static', filename='images/savingspic.jpg') }}" class="" alt="savings_article"
            width="300" height="200">
        </div>
        <div class="post1-preview">
            <h2><a href="./savingarticle">3 Top Ways To Save In 2023</a></h2>
            <p class="title">Michelle Quaye and Eyasmin Basher (April 1st, 2023)</p>
                <br>
            <p class="preview-text">
                Many people are feeling the financial "pinch", due to the current cost of living crisis. The team here at ChipIn are working around the clock to keep you updated on how to manage your financial situation. Your resident experts, Michelle and Eyasmin have summarised 3 key methods to help you save your cash.
            </p>
             <p>
                 <a href="./savingarticle">Read more</a>
             </p>
        </div>
    </div>
</div>
<br>
<br>
<!--    Article 2-->
<div class="container-md">

<!--Main content-->
    <div class="main-content">
        <div class="articles-img">
            <img src="{{ url_for('static', filename='images/countingcoins.jpg') }}" class="" alt="savings_article"
            width="300" height="200">
        </div>
        <div class="post1-preview">
            <h2><a href="./discount_article">Top Places To Find Money-Saving Discounts</a></h2>
            <p class="title">Ellen Houghton and Eyasmin Basher (April 8th, 2023)</p>
            <br>
            <p class="preview-text">
                As the usual cost of your favourite items continues to increase, finding ways to reduce your spending becomes even more important! Your resident experts, Ellen and Eyasmin have valuable money-saving discount tips to share with you!
            </p>
           <p>
             <a href="./discount_article">Read more</a>
           </p>
        </div>
    </div>
</div>
<br>
<br>
<!--        Article 3-->
<div class="container-md">

<!--Main content-->
    <div class="main-content">
        <div class="articles-img">
            <img src="{{ url_for('static', filename='images/mentalhealthdebt.jpg') }}" class="" alt="savings_article"
            width="300" height="200">
        </div>

        <div class="post1-preview">
            <h2><a href="./debt_mentalhealtharticle">Debt and Mental Health</a></h2>
            <p class="title">Eyasmin Basher and Michelle Quaye (April 15th, 2023)</p>
                <br>
            <p class="preview-text">
                Research from the Royal College of Psychiatrists found that around 50% of adults experiencing debt are also experiencing mental health problems. Your resident experts, Eyasmin and Michelle investigate this further.
            </p>
           <p>
             <a href="./debt_mentalhealtharticle">Read more</a>
           </p>
        </div>

    </div>
</div>


{% endblock %}