{% extends "layout.html" %}

{% block main_content %}

<div>
  <h1>Dashboard</h1>
</div>

<!-- TEXT & LEGEND first bit of responsive code -->
  <div class="container-fluid bg-1 text-center">
    <div class="row">
<!-- This is where the 12 columns are divided into 2 groups of 6 -->
      <div class="col-sm-6">
        <table>
          <tr>
            <th>Average UK Monthly Spending</th>
            <th>&pound;'s</th>
          </tr>
          {% for item in uk_average %}
          <tr>
            <td>{{ item [0] }}</td>
            <td>{{ item [1] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-sm-6">
        <!-- Code to insert the legend, I need to create an image for that-->
        <h4>Key:</h2>
        <img src="{{ url_for('static', filename='images/legend.jpg') }}" height='100' width='100' alt="Legend">
      </div>
    </div>
  </div>

  <!-- GRAPHS second bit of responsive code -->
  <div class="container-fluid bg-1 text-center">
    <div class="row">
<!-- This is where the 12 columns are divided into 2 groups of 6 -->
      <div class="col-sm-6">
        <!-- Code for the pie chart - to be linked to real data when the database is complete-->
        <h4>Pie Chart showing your spending breakdown</h2>
        <img src="{{ url_for('static', filename='images/piechart.png') }}" height='300' width='450' alt="spending pie chart">
      </div>
      <div class="col-sm-6">
        <!-- Code for the stacked bar chart - to be linked to real data when the database is complete-->
        <h4>Stacked Bar Chart showing your spending compared to average UK household spending</h2>
        <img src="{{ url_for('static', filename='images/barstack.png') }}" height='400' width='450' alt="stacked bar chart">
      </div>
    </div>
  </div>

  <br>

  <!-- TABLES third bit of responsive code -->
  <div class="container-fluid bg-1 text-center">
    <div class="row">
<!-- This is where the 12 columns are divided into 3 groups of 4 -->
      <div class="col-sm-4">
        <!-- Code for the loop to display weekly spending - needs python code to divide value into a weekly amount on the routes.py -->
        <h2>Your weekly Spending</h2>
        <table>
          <tr>
            <th></th>
            <th>&pound;'s</th>
          </tr>
          <tr>
            <td>hmm</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <!-- Code for the loop to display monthly spending - needs python code to divide value into a monthly amount on the routes.py -->
        <h2>Your monthly spending</h2>
        <table>
          <th></th>
          <th>&pound;'s</th>
        </table>
      </div>
      <div class="col-sm-4">
        <!-- Code for the loop to display annual spending - needs python code to divide value into a monthly amount on the routes.py -->
        <h2>Your annual spending</h2>
        <table>
          <th></th>
          <th>&pound;'s</th>
        </table>
      </div>
    </div>
  </div>

{% endblock %}