{% extends "layout.html" %}

{% block main_content %}

<h1>Debt Calculator Results</h1>

{% if total %}

<p>
    Your debt is in the form of a {{ debt_data[1] }}
    <br>
    You borrowed &pound;{{ '%.2f' % debt_data[0] }} at {{ debt_data[2] }}% APR interest over {{ debt_data[3] }} months.
    <br>
    <br>
    In total, you will repay &pound;{{ total }} back to the lender
</p>
{% endif %}

{% if comparison %}

<p>You entered 3 debts.</p>
<ul>
    {% for debt in comparison %}
    <li>{{ debt[1] }}, &pound;{{ debt[0] }}, at {{ debt[2] }}APR</li>
    {% endfor %}
</ul>

<p>Debt Stack Approach - paying off the debt with the highest interest first
    <ul>
        {% for debt in comparison %}
        <li>{{ debt[1] }}, &pound;{{ debt[0] }}, at {{ debt[2] }}APR - would be paid off after {{ debt[5] }} months</li>
        {% endfor %}
    </ul>
</p>
<p>Debt Snowball Approach - paying off the biggest debt first
    <ul>
        {% for debt in comparison %}
        <li>{{ debt[2] }}, &pound;{{ debt[1] }}, at {{ debt[3] }}APR - would be paid off after {{ debt[6] }} months</li>
        {% endfor %}
    </ul>
</p>

{% endif %}

{% endblock %}
