{% extends "layout.html" %}

{% block main_content %}

<h1>How much will I pay back in total ?</h1>

<!-- Responsive Code to manage the form -->
  <div class="container-fluid bg-1 text-left">
    <div class="row">
    <!-- Giving it a bit of space -->
    <div class="col-sm-8">
      <p><h4>There are 4 types of consumer debt:</h4>

        <!-- Accordion, we could add a small image in each accordian collapse box here -->
      <div class="accordion" id="babybirdaccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <strong>Secured debt</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Secured debt</strong> is also known as collateralized debt. That means the borrower has pledged something of value to back up the debt. With a car loan, for example, the vehicle usually serves as collateral. If the borrower fails to repay the money they borrowed to buy the car, the lender can seize and sell it. Similarly, when someone takes out a mortgage to buy a home, the home itself typically serves as collateral. If the borrower fails to make payments, the lender can foreclose and take the home. A company that wants to borrow money might pledge a piece of machinery, real estate, or cash in the bank as collateral.
              <br>
            <!-- <img src="./images/babyRobinOnGate.JPG" class="img-responsive margin" width="50%" alt="Baby robin on gate"> -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Unsecured Debt</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Unsecured Debt</strong> does not require any collateral as security. Instead, the lender decides whether to grant a loan based on the borrower's creditworthiness, as indicated by their credit score, credit history, and other factors. Most credit cards and most personal loans are examples of unsecured debt. Because unsecured debt can be riskier to the lender it generally commands a higher interest rate than secured debt.
              <br>
              <!-- <img src="./images/fledlingGreatTit.JPG" class="img-responsive margin" width="50%" alt="Fluffy great tit sitting in a pear tree"> -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Revolving Debt</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Revolving Debt</strong> provides the borrower with a line of credit that they are able to borrow from as they wish. The borrower can take up to a certain amount, pay the debt back, and borrow up to that amount again. The most common form of revolving debt is credit card debt. As long as the borrower fulfills their obligations, typically by making monthly payments of at least a certain minimum amount, the line of credit remains available for as long as the account is active. Over time, with a favorable repayment history, the amount of revolving debt that's available to the borrower may increase.
              <br>
              <!-- <img src="./images/fledglingrobin.JPG" class="img-responsive margin" width="50%" alt="Curious robin sitting in a pear tree"> -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="True" aria-controls="collapseFour">
              <strong>Mortgages</strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Mortgages</strong> are a type of secured debt used to purchase real estate, such as a house or condo. Mortgages are usually paid back over long periods, such as 15 or 30 years. Mortgages are often the largest debt, apart from student loans, that consumers will ever take on, and they come in many different varieties. Two broad categories are fixed-rate mortgages and adjustable-rate mortgages, or ARMs. In the case of ARMs, the interest rate can change periodically, usually based on the performance of a particular index.
              <br>
              <!-- <img src="./images/fledglingrobin.JPG" class="img-responsive margin" width="50%" alt="Curious robin sitting in a pear tree"> -->
            </div>
          </div>
        </div>
      </div>
<p><a href="{{ external_link_investopedia }}", target="_blank">Find out more</a></p>
    </div>
      <div class="col-sm-4">
      <br>
      <h4>Debt Calculator</h4>
      {{ message }}
        <div class="form">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

<!-- https://getbootstrap.com/docs/5.3/forms/select/ Go to the bottom of this page to see how you can style this select form -->

                <select class="form-select" aria-label="Select debt type" name="debt_type" selected>
                  {% for item in form.debt_type %}
                  {{ item }}                     
                {% endfor %}
                </select>

                <div class="mb-3">
                  <label for="debt_amount" class="form-label">{{ form.debt_amount.label }}</label>
                  <input type="number" class="form-control" id="debt_amount" name="debt_amount" placeholder="5000">
                </div>
                <!-- {{ form.debt_amount}} {{ form.debt_amount.label }} -->
                <div class="mb-3">
                  <label for="debt_interest" class="form-label">{{ form.debt_interest.label }}</label>
                  <p>&#9733; calculated using 5% APR if no value is entered</p>
                  <input type="number" class="form-control" id="debt_amount" name="debt_interest" placeholder="5">
                </div>
                <!-- {{ form.debt_interest }} {{ form.debt_interest.label }} -->
                <div class="mb-3">
                  <label for="debt_term" class="form-label">{{ form.debt_term.label }}</label>
                  <p>&#9733; calculated over 24 months if no value is entered</p>
                  <input type="number" class="form-control" id="debt_term" name="debt_term" placeholder="24">
                </div>
                <!-- {{ form.debt_term }} {{ form.debt_term.label }} -->
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- {{ form.submit }} -->
                
            </form>
        </div>
    </div>
  </div>

{% endblock %}
