{% extends "layout.html" %}

{% block main_content %}

<div class="container-fluid bg-1 text-center">
    <div class="row">
    <h1>Debt Calculator Results</h1>
    {% if total %}
        <div class="col-sm-6">
            <p>Your debt is in the form of a {{ debt_data[1] }}
            <br>
            You borrowed &pound;{{ '%.2f' % debt_data[0] }} at {{ debt_data[2] }}% APR interest over {{ debt_data[3] }} months.
            <br>
            <br>
            In total, you will repay &pound;{{ total }} back to the lender
            </p>
        </div>
    {% endif %}
        
    {% if debt_stack %}
<h4>Which is better for you ?</h4>
    <div class="col-sm-3">
        <br> 
        The <span>Debt Stack Approach</span> is to pay off the debt with the <span>highest interest</span> first.
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Debt Stack</th>
                </tr>
            </thead>
            <tbody>
            {% for debt in debt_stack %}
            <tr>
                <td>{{ debt[1] }}, &pound;{{ debt[0] }}, at {{ debt[2] }}%APR<br> paid by {{ debt[5] }} months ({{ debt[6] }} years)</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <br>
        The <span>Debt Snowball Approach</span> is to pay off the <span>biggest debt</span> first.
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Debt Snowball</th>
                </tr>
            </thead>
            <tbody>
            {% for debt in debt_snowball %}
            <tr>
                <td>{{ debt[1] }}, &pound;{{ debt[0] }}, at {{ debt[2] }}%APR<br> paid by {{ debt[7] }} months ({{ debt[8] }} years)</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}


        <div class="col-sm-6">
            <img src="{{ url_for('static', filename='images/anxious_woman.jpeg') }}" class="img-responsive margin" width="90%" alt="woman solving debt problems">
        </div>
    </div>
  </div>

{% endblock %}
