{% extends "layout.html" %}

{% block main_content %}


    <div class="main-content">
         <h1 class ="recent-post-title"> </h1>
        <div class="post">
            <img src="{{ url_for('static', filename='images/countingcoins.jpg') }}" class="post" alt="savings_article"
            width="300" height="200">

    <title>Top Places to Find Money-Saving Discounts</title>
</head>
<body>

<h1>Top Places to Find Money-Saving Discounts</h1>
 <i class="far fa-user">Authors: Ellen Houghton and Eyasmin Basher, April 8th 2023</i>

<h2> 1. Voucher sites. </h2>

<p> <ul> Managing your finances should not mean going without all the things that make you happy!
    Thankfully there are websites that offer voucher cards or voucher discount codes for you to use.
    Try to use them quickly! Many codes or voucher options have a short expiry window.
    <br>
    <br>
     Examples of cashback sites include:
            <br>
            <li>Wowcher </li>
            <li>Groupon </li>
            <li>Hot UK Deals </li>

    </ul>

    <h2> 2. Cashback sites. </h2>

    <p> <ul> When purchasing items online such as food, clothes or event tickets, rather than going to retailers directly,
            you could visit those same companies via a cashback site and get paid for your custom!
            You can sign up for these sites (which are usually free or very low cost, via an annual subscription.
            Once logged in, access the companies you wish to purchase from and get ordering! After your purchases,
            an amount of saved cashback earnings will accumalate in your account.
            <br>
            <br>
            After you reach a certain total/threshold, you can withdraw the money you have accumulated over time.
            <br>
            <br>
            Examples of cashback sites include:
            <br>
            <li>Quidco </li>
            <li>TopCashback </li>
            <li>KidStart </li>

        </ul>

    <h2> 3. Eligibility passes. </h2>
    <p> <ul> Are you a student, healthcare worker, emergency service staff or retired?
    You could be eligible for special eligibility passes!
    <br>
    <br>
    Examples include:
            <li>Travel passes: Freedom Pass (60 years and over in London), Zip Oyster photocards (11-15 years, 16-17 years in London)
            18+ Student Oyster photocard (London), 16-25 Railcard (UK).</li>
            <li>University Cards: Some stores will provide you a discount with your university card alone. For other companies,
            you would need to sign up for sites such as UNIDAYS and NUS.</li>
            <li>NHS and emergency workers: Some stores will provide you a discount with your staff card alone.
            For other companies, you would need to sign up for sites such as Blue Light Card to enjoy discounts.</li>
    </ul>
    </p>
</body>
</html>

{% endblock %}