{% extends "layout.html" %}

{% block main_content %}

<div class="green">
    <div>Income</div>
    <div>Salary</div>
    <div>Other</div>
</div>

<div class="blue">
    <div>Outgoings</div>
    <div>Rent/Mortgage</div>
    <div>Electricity</div>
    <div>Gas</div>
    <div>Water</div>
    <div>Council Tax</div>
    <div>Phone Bill</div>
    <div>Subscriptions</div>
    <div>Savings/CTF</div>
</div>

<div class="choices">
    <div>Auto-complete choices</div>
    <div>Married with 2 kids</div>
    <div>Single</div>
</div>

<div>
    <button>Submit</button>
</div>

{% endblock %}