{% extends "layout.html" %}

{% block main_content %}

<h1>LANDING PAGE</h1>

<h1>Welcome to ChipIn, the best personal finance tool in the UK.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dignissimos enim est facere in iste minus mollitia, nobis perferendis quidem saepe tempora vero! Aliquid amet dolor eligendi fugit provident.</p>


<button id="disclaimer" type="button" class="btn btn-danger" onclick="disclaimer()">Click to read disclaimer</button>


<ul>
    <li>Track your spending and everyday money.</li>
    <li>Make saving and budgeting effortless</li>
    <li>Set savings goals for something you want, or for a rainy day.</li>
    <li>Chip In is free to use, you just need to log in!</li>
    <li>Your data is always securely protected.</li>
</ul>

<h3>Why ChipIn?</h3>
<p>With its automated features and smart technology, ChipIn gives you control of your money to help you reach your money goals. Just connect your bank account(s), set up your smart rules and then it’s over to you. Save, budget and spend with ChipIn.</p>

{% endblock %}