<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>

<!--Favicon-->
<link type="image/png" rel="icon" href="./static/images/icons8-growing-money-32.png">

<!-- Link to Bootstrap CSS & JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Link to our own stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
    <!-- Responsive Navigation Bar -->
<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" href="./index">ChipIn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Site Statistics/ Reporting/ Admin link -->
          <li class="nav-item">
            <a class="nav-link" href="./site_statistics">Site Statistics</a>
          </li>
            <!-- Savings Calc link -->
          <li class="nav-item">
            <a class="nav-link" href="./savings_calculator_form">Savings Calculator</a>
          </li>
            <!-- Dashboard link - This is the big feature that we want to promote, it is the most interactive page that links databases and uses that data -->
          <li class="nav-item">
            <a class="nav-link" href="./dashboard_form">Dashboard</a>
          </li>
            <!-- Debt calculator link -->
          <li class="nav-item">
            <a class="nav-link" href="./debt_calculator_form">Debt Calculator</a>
          </li>
            <!-- Debt Stack or Snowball link - This is our 2nd biggest feature, again it takes the database and produces an interesting output -->
          <li class="nav-item">
            <a class="nav-link" href="./debt_comparison_form">Stack or Snowball</a>
          </li>
            <!-- This is a nice feature, a single template that references the benefits content management database -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Benefits
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./child-benefit">Child Benefit</a></li>
              <li><a class="dropdown-item" href="./housing-benefit">Housing Benefit</a></li>
              <li><a class="dropdown-item" href="./employment-support-allowance">ESA</a></li>
              <li><a class="dropdown-item" href="./jobseekers-allowance">JSA</a></li>
              <li><a class="dropdown-item" href="./universal-credit">Universal Credit</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="./">Home</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>
  


{% block main_content %}
<!-- our template pages load here-->
{% endblock %}


<hr>
<div id="footer">
  <footer class="container-fluid text-center">
      <p>&copy; ChipIn 2023 - The Shard, 32 London Bridge St, London SE1 9SG</p>
  </footer>
</div>

<!-- link to Bootstrap Javascript bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- link to our own javascript scripts -->
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>
</html>