{% extends "layout.html" %}

{% block main_content %}

<div class="container-fluid bg-1 text-center">
    <div class="row">
      <div class="col-sm-6">
        <h1>Simple Savings Calculator</h1>
        <h4>Your results</h4>
        <p>Your lump sum investment of {{ '%.2f' % savings_data[1] }} to save for a {{ savings_data[2] }}, saving {{ savings_data[3] }} each month:
        <br>If you saved &pound;{{ '%.2f' % savings_data[3] }} at {{ savings_data[4] }}% APR interest over {{ savings_data[5] }} years
        <br>
        <br>In total, your investment would be worth approximately <span>&pound;{{ total }}</span>
        </p>
      </div>
      <div class="col-sm-6">
          <img src="{{ url_for('static', filename='images/gift.jpg') }}" class="img-responsive margin" width="90%" alt="Photo of Gift by Jess Bailey on Unsplash">
      </div>
    </div>
  </div>

{% endblock %}
