{% extends "layout.html" %}

{% block main_content %}

  <div class="container-fluid bg-1 text-left">
    <div class="row">
    <div class="col-sm-8">
      <h1>How much could my savings be worth?</h1>
      <br>
      <h4>Saving is tough, try these tips to help:</h4>

<!--Planning your budget carousel -->

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <h5>Gather together all statements and receipts</h5>
          <p>Don't be tempted to guess or estimate. The success of a budget relies on accurate incomings and outgoings and the only way you can be 100% sure is by getting all your statements and bills in front of you in black and white. Also, while getting an idea of monthly spend is great, we recommend at least three months' worth of bills and receipts so you can keep track of all your quarterly expenses, such as your TV licence or water bills.</p>
        </div>
        <div class="carousel-item">
          <h5>Decide who your budget is for</h5>
          <p>It's very important to be consistent when budgeting. First decide who you're filling it out for – is it just for you, or is it for your partner/family too? Finances often can't be separated, in which case you should sit down and do it together.</p>
        </div>
        <div class="carousel-item">
          <h5>Be as accurate as possible with your figures</h5>
          <p>It's tempting to try to fool yourself by underestimating your expenditure. Try to be accurate, and, if you're not sure, guess larger not smaller – that way you'll have cash left over and not be short.</p>
        </div>
        <div class="carousel-item">
          <h5>Check your pension details</h5>
          <p>Many people leave this for way too late. Locate all your pension information, login, monthly contributions or if it's deducted from your salary.</p>
        </div>
        <div class="carousel-item">
          <h5>Is your tax code correct?</h5>
          <p>It is worth it to check whether you are over paying tax, as if the code is incorrect you can get some money back.</p>
        </div>
        <div class="carousel-item">
          <h5>About to splurge? Save the same sum first</h5>
          <p>Next time you want to buy a treat from your usual spending money – a £30 dress, say – make yourself save the £30 first. For example stop yourself buying that coffee out (£3 saved), make a few extra veggie meals (£10 saved etc.) until you hit £30. Now switch this sum from your current account into your savings account. This way, you’ll save extra, get in the habit of cutting back on spending and give yourself time to make sure you really want that dress.</p>
        </div>
        <div class="carousel-item">
          <h5>Try a ‘no spend’ weekend</h5>
          <p>Set yourself a ‘no spend weekend’ – one every other month if you can. Do activities like going on walks, movie night, board games, free museums. And if you use up any leftover food from the week as well, this can all really make your salary go further every month.</p>
        </div>
        <div class="carousel-item">
          <h5>Make some choices, we often spend money because we are bored</h5>
          <p>We spend money like we spend time to entertain ourselves so make some clear choices about the things you enjoy and really target your spending. If you think about what you want to buy it is easier to say that you don't want to buy something.</p>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
      <br>
      <a href="{{ external_link_money_saving_expert }}" target="_blank">Ask Martin Lewis, the money saving expert</a>
      <br>
      <br>
    </div>
      <div class="col-sm-4">
      <h4>Savings Calculator</h4>
      {{ message }} <!-- This is the error message given to the user if anything is entered incorrectly on the form -->
        <div class="form">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                  <label for="savings_lump" class="form-label">{{ form.savings_lump.label }}</label>
                  <p>&#9733; calculated using &pound;500. if no value is entered</p>
                  <input type="number" class="form-control" id="savings_lump" placeholder="500" name="savings_lump">
                </div>
                <div class="mb-3">
                  <label for="monthly_saving_amount" class="form-label">{{ form.monthly_saving_amount.label }}</label>
                  <p>&#9733; calculated using &pound;50. if no value is entered</p>
                  <input type="number" class="form-control" id="monthly_saving_amount" placeholder="50" name="monthly_saving_amount">
                </div>
                <div class="mb-3">
                  <label for="savings_interest" class="form-label">{{ form.savings_interest.label }}</label>
                  <p>&#9733; calculated using 5% APR if no value is entered</p>
                  <input type="number" class="form-control" id="savings_interest" placeholder="5" name="savings_interest">
                </div>
                <div class="mb-3">
                  <label for="savings_term" class="form-label">{{ form.savings_term.label }}</label>
                  <p>&#9733; calculated using &pound;10. if no value is entered</p>
                  <input type="number" class="form-control" id="savings_term" placeholder="10" name="savings_term">
                </div>
                <div class="mb-3">
                  <label for="savings_goal" class="form-label">{{ form.savings_goal.label }}</label>
                  <input type="text" class="form-control" id="savings_goal" placeholder="Rainy Day" name="savings_goal">
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
  </div>

{% endblock %}