{% extends "layout.html" %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3 Top Ways Save in 2023</title>
</head>
<body>

<h1>Top Ways to Save in 2023 </h1>
 <i class="far fa-user">Authors: Michelle Quaye and Eyasmin Basher, April 1st 2023</i>

<h2> 1. Make a plan!</h2>

<p> <ul> It is important to have a goal. What would you like to save for? How much money would you like to save? Is there a deadline for then this money should be saved?

    <li> Set a schedule of savings totals and deadlines for them. </li>
    <li> Be realistic with your timings. It may take longer to save for bigger savings projects such as saving for housing renovations.
        Some savings totals may be small but consistent e.g. an emergency fund. </li>
    <li> Use a tool to help you with your goals. Our ChipIn Savings Calculator can help with this! </li>

</ul>
</p>



<h2> 2. Record your outgoing money (expenses). </h2>
<p>
<ul>
    <li> Keep a regular record of your expenses to find patterns in where the most of your money is going to. </li>
    <li> Identify any areas that could be classed as ‘avoidable’ spending and ‘unavoidable spending’.
        Try to prioritise reducing any items of spending that can be classed as ‘avoidable’ spending e.g. taxi journeys instead of the bus depending on your situation.
        Our ChipIn Dashboard can help you to analyse your spending! </li> </ul>
</p>


<h2> 3. Set reminders/automatic actions. </h2>
<p>
<ul> <li> Set yourself timed reminders of when to save. This could be on payday, at the start of the month or in an arranged standing order with your bank to your current account.
    Reminders can be encouraging and help you to stay focused on your goals. </li></ul>
</p>

</body>
</html>

{% endblock %}