{% extends "layout.html" %}

{% block main_content %}

<h1>How much could my savings be worth?</h1>

<!-- Responsive Code to manage the form -->
  <div class="container-fluid bg-1 text-left">
    <div class="row">
    <!-- Giving it a bit of space -->
    <div class="col-sm-8">
      <h4>Saving is tough, try these tips to help:</h4>

        <!-- Accordion, we could add a small image in each accordian collapse box here -->
      <div class="accordion" id="babybirdaccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <strong>Tip 1</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>About to splurge? Save the same sum first.</strong> Next time you want to buy a treat from your usual spending money – a £30 dress, say – make yourself save the £30 first. For example stop yourself buying that coffee out (£3 saved), make a few extra veggie meals (£10 saved etc.) until you hit £30. Now switch this sum from your current account into your savings account. This way, you’ll save extra, get in the habit of cutting back on spending and give yourself time to make sure you really want that dress.
              <br>
            <!-- <img src="./images/babyRobinOnGate.JPG" class="img-responsive margin" width="50%" alt="Baby robin on gate"> -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Tip 2</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Try a ‘no spend’ weekend</strong> Set yourself a ‘no spend weekend’ – one every other month if you can. Do activities like going on walks, movie night, board games, free museums. And if you use up any leftover food from the week as well, this can all really make your salary go further every month.
              <br>
              <!-- <img src="./images/fledlingGreatTit.JPG" class="img-responsive margin" width="50%" alt="Fluffy great tit sitting in a pear tree"> -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Tip 3</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Make some choices, we often spend money because we are bored.</strong> We spend money like we spend time to entertain ourselves so make some clear choices about the things you enjoy and really target your spending. If you think about what you want to buy it is easier to say that you don't want to buy something.
              <br>
              <!-- <img src="./images/fledglingrobin.JPG" class="img-responsive margin" width="50%" alt="Curious robin sitting in a pear tree"> -->
            </div>
          </div>
        </div>
      </div>
      <a href="{{ external_link_money_saving_expert }}" target="_blank">Ask Martin Lewis, the money saving expert</a>



<!--Planning your budget carousel -->

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <h5>Gather together all statements and receipts</h5>
          <p>Don't be tempted to guess or estimate. The success of a budget relies on accurate incomings and outgoings and the only way you can be 100% sure is by getting all your statements and bills in front of you in black and white. Also, while getting an idea of monthly spend is great, we recommend at least three months' worth of bills and receipts so you can keep track of all your quarterly expenses, such as your TV licence or water bills.</p>
        </div>
        <div class="carousel-item">
          <h5>Decide who your budget is for</h5>
          <p>It's very important to be consistent when budgeting. First decide who you're filling it out for – is it just for you, or is it for your partner/family too? Finances often can't be separated, in which case you should sit down and do it together.</p>
        </div>
        <div class="carousel-item">
          <h5>Be as accurate as possible with your figures</h5>
          <p>It's tempting to try to fool yourself by underestimating your expenditure. Try to be accurate, and, if you're not sure, guess larger not smaller – that way you'll have cash left over and not be short.</p>
        </div>
        <div class="carousel-item">
          <h5>Check your pension details</h5>
          <p>Many people leave this for way too late. Locate all your pension information, login, monthly contributions or if it's deducted from your salary.</p>
        </div>
        <div class="carousel-item">
          <h5>Is your tax code correct?</h5>
          <p>It is worth it to check whether you are over paying tax, as if the code is incorrect you can get some money back.</p>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>

    </div>
      <div class="col-sm-4">
      <br>
      <h4>Savings Calculator</h4>
      {{ message }}
        <div class="form">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                  <label for="savings_lump" class="form-label">{{ form.savings_lump.label }}</label>
                  <input type="number" class="form-control" id="savings_lump" placeholder="50" name="savings_lump">
                </div>
                <div class="mb-3">
                  <label for="monthly_saving_amount" class="form-label">{{ form.monthly_saving_amount.label }}</label>
                  <input type="number" class="form-control" id="monthly_saving_amount" placeholder="100" name="monthly_saving_amount">
                </div>
                <div class="mb-3">
                  <label for="savings_interest" class="form-label">{{ form.savings_interest.label }}</label>
                  <input type="number" class="form-control" id="savings_interest" placeholder="6" name="savings_interest">
                </div>
                <div class="mb-3">
                  <label for="savings_term" class="form-label">{{ form.savings_term.label }}</label>
                  <input type="number" class="form-control" id="savings_term" placeholder="20" name="savings_term">
                </div>
                <div class="mb-3">
                  <label for="savings_goal" class="form-label">{{ form.savings_goal.label }}</label>
                  <input type="text" class="form-control" id="savings_goal" placeholder="Rainy Day" name="savings_goal">
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
  </div>

{% endblock %}