body, a {
margin: auto;
/* text-align: center; */
background-color: #C5D1EB;
color: #0B1D51;
}

table, th, td {
    border: 1px solid black;
  }

/* form page styling starts */
form {
    margin: 10px;
}

.form-container {
    width: 100%;
    display: inline-block;
}

.income-container {
    border: 1px solid black;
    background-color: green;

}

/* .form-label {
    width: 50%;
    float: left;
} */

.form-input {
    margin-left: 50%;
}

h1, h3 {
    border: 1px solid black;
    background-color: red;
    text-align: center;
}

.outgoings-container {
    border: 1px solid black;
    background-color: green;
}

.button {
    border: 1px solid black;
    background-color: aqua;
}

.input-box {
    border: 1px solid black;
    background-color: grey;
}
/* form page styling ends */

input:placeholder-shown {
    font-style: italic;
 }

