* {
    font-family: 'Raleway', sans-serif; 'Montserrat', sans-serif;
}

/*
#FDA769 is orange, headings/tables
#473C33 is dark brown
white text?
#ABC270 is green, background?
#FEC868 is yellow, buttons?
*/

body {
    margin: 10px;
    text-align: center;
    background-color: white;
    color: #0B1D51;
}

.accordion-body {
    background-color: #C5D1EB;
}

/* this makes the nav bar and its background transparent, overriding the bootstrap template */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

/*landing page*/
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}

.carousel-caption {
    margin-bottom: 40px;
}

#disclaimer, .col-left p {
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
  }

h1, h2, h3, h4, h5 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: justify;
}

a {
    display: block;
    text-align: center;
}

.accordion-header, #headingOne {
    margin-top: 0px;
}

input:placeholder-shown {
    font-style: italic;
}

.carousel-item p {
    margin: 15x;
    text-align: justify;
}

.well {
    margin-top: 10px;
}

.well p {
    margin-bottom: 0px;
}

span {
    font-weight: bold;
}

.aboutus {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.debt-pyramid {
    display: flex;
    align-items; center;
    justify-content: center;
}

.container-fluid img {
   width: 50%;
}

.benefits-link {
    display: inline-block;
}